footer{
    background: linear-gradient(to bottom, #D3CBB8, #6D6027);
    display:flex;
    justify-content:space-between;
    align-items: center;
    font-size: 1rem;
    padding:0 5%;
}

.copyright{
    color: black;
    font-size: 1.4rem;
    text-shadow: -2px 3px 0px rgba(150, 149, 154, 1);
    flex-basis: 75%;
}


.footerIcons {
    display: flex;
    padding: 0 2rem;
    flex-wrap: wrap;
    width: 10%;
    justify-content: flex-end;
    flex-basis: 25%;

    a{
        padding:0 10%;
    }
}


// MEDIA QUERIES BEGINS
@media (max-width: 506px) {
    footer {
        display:flex;
        flex-direction: column;
    }
    .footerIcons{
        // display: flex;
        justify-content: space-around;
        width: 25%;
        padding-bottom: 5%;
    }
}

@media (max-width: 320px){
    .copyright{
        font-size: 1.2rem;
    }

}
// MEDIA QUERIES ENDS



